RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ core.php?uri_parser_res=$1 [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ core.php?uri_parser_res= [NC]

RewriteCond %{REQUEST_URI} -f
RewriteCond %{REQUEST_URI} core\.php/?
RewriteRule ^(.*)$ core.php?uri_parser_res= [NC]