.mh-50vh {
  min-height: 50vh;
}

#login-block {
  max-width: 1150px;
  width: auto;
  height: auto;
  margin-block-start: 50px;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#recovery-block {
  max-width: 1150px;
  width: auto;
  height: auto;
  margin-block-start: 50px;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#home-block {
  max-width: 800px;
  max-height: 700px;
  width: auto;
  margin-block-start: 250px;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  background-color:#F0F8FF ;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}


#event1-block {
  max-width: 1250px;
  width: auto;
  margin-block-start: 50px;
  margin-block-end: 50px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#event2-block {
  max-width: 800px;
  width: auto;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#event3-block {
  width: auto;
  margin-block-start: 50px;
  margin-block-end: 50px;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#register-block {
  max-width: 650px;
  width: auto;
  height: auto;
  margin-block-start: 50px;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#account1-block {
  max-width: 800px;
  width: auto;
  margin-block-start: 100px;
  margin-block-end: 50px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#account2-block {
  max-width: 300px;
  width: auto;
  height: auto;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#account3-block {
  max-width: 550px;
  width: auto;
  height: auto;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}
#account4-block {
  max-width: 300px;
  width: auto;
  height: auto;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

#edit-event-block {
  max-width: 300px;
  width: auto;
  height: auto;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  z-index: 2;
  border-radius: 10px;
}

@media (prefers-reduced-motion: reduce){}


@media (max-width: 991.98px) {
  #login-block {
    opacity: .95;
  }
}

@media (max-width: 991.98px) {
  #bg-block {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
}

@media (min-width: 150px) {
  .w-xl-50 {
    width: 50%;
  }
}

.blue-polytech {
  color: #007bff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.text-home {
  color: #4377D1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.text2-home {
  color: #69A2E5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}


.bg-main {
  background-color:white;
  opacity: .95;
}

.btn-home{
  background-color: #4377D1ee;
}

.btn-polytech{
  background-color: #0fa0d4ee;
}

.btnaccount {
  width: 175px;
}

table {
  table-layout: fixed;
  width: 100% !important;
}

td,
th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}