
/* css de la page en général (pris de boot strap et fignolé par moi-même) */

.titre {
  font-size:50px;
  color: #0fa0d4ee;
  text-align: center;
}

@media (max-width: 768px){
  .titre {
    font-size: 35px;
  }
}

div#calendar{
  max-width: 1200px;
  max-height: 800px;
  margin: 0 auto;
}

