<div class="text-center text-white mt-5" style="top: 0">
    <h1>403</h1>
    
    <p class="mb-5 lead">Accès refusé</p>
    <p class="mb-1">Vous n'avez pas le droit d'accéder à cette page</p>
    <img src="/img/403/<%- random_403_img %>" alt="" class="mt-1 mb-3 img-thumbnail rounded mx-auto d-block" style="max-height: 300px;">

    <a class="btn btn-info" href="/">← Retourner à l'accueil</a>
    <div class="mb-5"></div>
</div>
<div class="bg-404"></div>