<div class="bg-main" id="login-block">
  <div>
  <br>
  <h1 class="blue-polytech">Mon compte</h1>
</div>
<div class="text-dark mb-3 align:middle ml-auto mr-auto">
  <div>
    <h2 class="blue-polytech">endroit de l'adresse mail de l'utilisateur</h2>
    <br>
  </div>
</div>
<!--<form id="login-form">-->
<div class="form-group">
  <label>Description de l'évènement</label>
</div>
<div class="text-dark mb-3 col-9 d-lg-flex ml-auto mr-auto"
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Modifier le mot de passe 
    </a>
  <!--<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Modifier le mot de passe test 2
  </button>-->
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="modifier le mot de passe background-color: $blue-200">
        <div class="input-group">    
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="ancien mot de passe">
            <label for="floatingPassword">  </label>
          </div>
          <br>
        </div>
        <div class="input-group">    
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="nouveau mot de passe">
            <label for="floatingPassword">  </label>
          </div>
        </div>
        <div class="input-group">    
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="confirmation nouveau mot de passe">
            <label for="floatingPassword">  </label>
          </div>
        </div>
        <button class="btn btn-primary text-white" id="login-submit" type="submit">Modifier</button>
        <p class="mt-3 mb-0"><a class="text text-login-color" href="/recovery">Mot de passe oublié?</a></p>
        <br><hr>
      </div>
    </div>
  </div>
</div>
<!--normalement c'est censé etre au dessus mais pour l'instant ça marche pas donc je le met la pour pouvoir verifier-->
<div class="modifier le mot de passe mb-3 col-9 ml-auto mr-auto ">
  <div class="input-group">    
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="ancien mot de passe">
      <label for="floatingPassword">  </label>
    </div>
    <br>
  </div>
  <div class="input-group">    

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="nouveau mot de passe">
      <label for="floatingPassword">  </label>
    </div>
  </div>
  <div class="input-group">    

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="confirmation nouveau mot de passe">
      <label for="floatingPassword">  </label>
    </div>
  </div>
  <button class="btn btn-primary text-white" id="login-submit" type="submit">Modifier</button>
  <p class="mt-3 mb-0"><a class="text text-login-color" href="/recovery">Mot de passe oublié?</a></p>
  <br><hr>
</div>
</div>
<!--</form>-->
