
  <!-- Title of the page -->
  <div id="event1-block" class="bg-main">
    <br><br>
    <h1 class="blue-polytech">Gestion des évènements<h1/>
    <br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
<!-- Creation of new event -->
    <div id="event1-block" class="m-3 bg-main">
        <br><br>
        <h2 class="blue-polytech">Ajouter un évènement</h2>
        <br>
  <!-- Choice of the event name -->
        <form id="events-form">
          <div class="m-auto w-75">
            <div class="form-group">
              <label>Titre de l'évènement</label>
              <input type="text" id="events-name" class="form-control" placeholder="Entrez le titre" required/>
            </div>
            <div class="form-group">
              <label for="events-type" class="form-label">Type d'évènement</label>
              <select class="form-control" id="events-type" required>
                <option value="Projet">Projet</option>
                <option value="Stage">Stage</option>
              </select>   
            </div>
            <div class="form-group">
              <label for="events-description">Description de l'évènement</label>
              <input id="events-description" type="text" class="form-control" placeholder="Décrivez votre évènement" required/>
            </div>
      <!-- Selection of the promotion concerned by the event -->
            <div class="form-group">
              <label for="events-promo" class="form-label">Promotion concernée</label>
              <select class="form-control" id="events-promo" placeholder="Sélectionnez la promotion" required/>
              <option value="IG3">IG3</option>
              <option value="IG4">IG4</option>
              <option value="IG5">IG5</option>
              </select>                
            </div>
      <!-- Choice of the event beginning -->
            <div class="form-group" class="nativeDatePicker">
              <label for="events-start-date">Date de début</label>
              <input type="date" id="events-start-date" class="form-control" required/>
              <span class="validity"></span>
            </div>
    <!-- Choice of the event end -->
            <div class="nativeDatePicker">
              <label for="events-end-date">Date de fin</label>
              <input type="date" id="events-end-date" class="form-control" required/>
              <span class="validity"></span>
            </div>
            <br>
    <!-- Choice of the beginning time of a day -->
            <div class="form-group">
              <label for="events-start-time">Heure de début de journée</label>
              <input placeholder="HH:MM" type="time" id="events-start-time" class="form-control timepicker" required>
            </div>
    <!-- Choice of the duration of a niche -->
            <div class="form-group">
              <label for="events-duration" class="form-label">Durée d'un créneau (pause comprise)</label>
              <select class="form-control" id="events-duration" required>
                <option value="01:00">1H</option>
                <option value="01:15">1H15</option>
                <option value="01:30">1H30</option>
              </select>              
            </div>
    <!-- Choice of lunck break time -->
            <div class="form-group">
              <label for="events-break-time">Heure de début de la pause déjeuner</label>
              <input placeholder="HH:MM" type="time" id="events-break-time" class="form-control timepicker" required>
            </div>
    <!-- Choice of the end of lunch break time -->
            <div class="form-group">
              <label for="events-resume-time">Heure de fin de la pause déjeuner</label>
              <input placeholder="HH:MM" type="time" id="events-resume-time" class="form-control timepicker" required>
            </div>
    <!-- Choice of the ending time of a day-->
            <div class="form-group">
              <label for="events-end-time">Heure de fin de journée</label>
              <input placeholder="HH:MM" type="time" id="events-end-time" class="form-control timepicker" required>
            </div>
    <!-- Add the event to the data base --> 
            <button class="btn btn-primary text-white" id="events-submit" type="submit">Ajouter</button>
          </div>
        </form>
      <br>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col">
<!-- Modification of an existant event -->
    <div id="event3-block" class="bg-main m-3">
      <div class="m-3">
        <br><br>
        <h2 class="text-center text-primary pt-3 pb-3">Liste des évènements</h2>
        <table class="table table-striped" id="events-list">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titre</th>
              <th scope="col">Type</th>
              <th scope="col">Description</th>
              <th scope="col">Date de début</th>
              <th scope="col">Date de fin</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  <br><br>
  </div>
</div>

