<div class="bg-main " id="account1-block"><br><br>
  <h1 class="blue-polytech">Besoin d'aide ?</h1>
  <br><hr><br>
  <div class="text-secondary text-center ">
  <h3>Veuillez contactez l'administrateur via : <u>Tom.Jedusor@umontpellier.fr</u></h3>
  </div>
  <br><br>
</div>