<div class="row">
  <div class="col">
<!-- Modification of an existant event -->
    <div id="event3-block" class="bg-main m-3">
      <div class="m-3">
        <br><br>
        <h2 class="text-center text-primary pt-3 pb-3">Liste des créneaux</h2>
        <table class="table table-striped" id="creneaux-list">
          <thead>
            <tr>
              <th scope="col">Titre de l'evenement</th>
              <th scope="col">Date du créneau</th>
              <th scope="col">Groupe</th>
              <th scope="col">Heure de début du créneau</th>
              <th scope="col">Jury</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  <br><br>
  </div>
</div>