<div class="row mh-100vh">
  <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
    <div class="m-auto w-lg-75 w-xl-50">
      <h1 class="blue-polytech">Soutenances de stage</h1>
      <p class="blue-polytech"><em>by Polytech Montpellier</em></p>
      <br><hr><br>
      <form id="login-form">
        <div class="form-group">
          <label class="text-dark">Adresse mail</label>
          <input type="text" id="login-email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email">
        </div>
        <div class="form-group">
          <label class="text-dark">Mot de passe</label>
          <input id="login-password" type="password" class="form-control" required>
        </div>
        <button onclick="window.location.href='/event/0/register'"  class="btn btn-primary text-white" id="login-submit" type="submit">Se connecter</button>
      </form>      
      <p class="mt-3 mb-0"><a class="blue-polytech" href="/recovery">Mot de passe oublié?</a>
      </p>
      <br><hr>
      <p class="text-center"><a class="blue-polytech" href="/event/0/register">Entrer sans se connecter</a></p>
    </div>
  </div>
  <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background-image:url('img/polytech-montpellier-presentation.jpg');background-size:cover;background-position:center center;">
  <p class="ml-auto mb-6 small text-dark"><a class="text-light" target="_blank" href="https://www.polytech.umontpellier.fr/"><em>© 2020 Polytech Montpellier</em></a><br>
  </p>
  </div>
</div>