
<!-- Title of the page -->
<div class="">
  <br><br>
  <h1 class="text-login-color">Gestion des évènements<h1/>
</div>
<br><br><br>

<!-- Creation of new event -->
<div class="text-dark mb-3 col-9 d-lg-flex ml-auto mr-auto">
<div>
  <div>
    <div>
      <h2 class="text text-login-color">Ajouter un évènement</h2>
      <br>
<!-- Choice of the event name -->
      <form id="login-form">
      <div class="form-group">
        <label>Titre de l'évènement</label>
        <input type="text" id="event-name" class="form-control" placeholder="Moins de 25 caractères" required/>
      </div>
      <div class="form-group">
        <label>Description de l'évènement</label>
        <input id="event-description" type="text"   class="form-control" placeholder="Moins de 70 caractères" required/>
      </div>
      </form>
<!-- Selection of the promotion concerned by the event -->
      <div class="form-group">
        <label for="promoList" class="form-label">Promotion concernée</label>
        <input class="form-control" list="promoListOptions" id="promoList" placeholder="Tapez pour trouver..." required/>
        <datalist id="promoListOptions">
          <option value="IG4">
          <option value="IG5">
          <option value="GBA4">
          <option value="GBA5">
          <option value="STE4">
          <option value="STE5">
        </datalist>                
      </div>
<!-- Choice of the event beginning -->
      <form>
        <div class="form-group" class="nativeDatePicker">
          <label for="start">Date de début</label>
          <input type="date" id="start"     name="event-start" class="form-control" required/>
          <span class="validity"></span>
        </div>
      </form>
<!-- Choice of the event end -->
      <form>
        <div class="nativeDatePicker">
          <label for="end">Date de fin</label>
          <input type="date" id="end" name="event-end" class="form-control" required/>
          <span class="validity"></span>
        </div>
      </form>
      </form>
      <br> 
<!-- Add the event to the data base --> 
      <button class="btn btn-primary text-white" id="login-submit" type="submit">Ajouter</button>
    </div>
  </div>
</div>
<br><hr><br>

<!-- Modification of an existant event -->

<div>
  <div>
    <h2 class="text text-login-color">Modifier un évènement</h2>
    <br>
    <div class="form-group">
    <label for="eventList" class="form-label">Sélection de l'évènement</label>
    <input class="form-control" list="eventListOptions" id="eventList" placeholder="Tapez pour trouver..." required/>
    <datalist id="eventListOptions">
      <option value="Soutenance A">
      <option value="Soutenance B">
      <option value="Soutenance C">
      <option value="Soutenance D">
      <option value="Soutenance E">
      <option value="Soutenance F">
    </datalist>                
    </div>
<!-- Modify the selected event --> 
      <button onclick="window.location.href='/event/0/edit'" class="btn btn-primary text-white" id="login-submit" type="submit">Modifier</button>
      <button class="btn btn-primary text-white" id="login-submit" type="submit">Supprimer</button>
  </div>
</div>
</div>
