<div class="row mh-100vh">
    <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
        <div class="m-auto w-lg-75 w-xl-50">
            <h1 class="blue-polytech">Récupération de votre mot de passe</h1><br><br>
            <p class="blue-polytech"><em>Entrez votre adresse mail*</em></p>
            <hr><br>
            <form>
                <div class="form-group"><label class="text-dark">Adresse mail</label><input type="text" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email" /><br></div>
                <button class="btn btn-primary text-white" type="submit" onclick="window.location.href='#'">Envoyer une demande</button></form>
                <br>
                <hr>
                </div>
    </div>
    <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background-image:url('img/polytech-montpellier-presentation.jpg');background-size:cover;background-position:center center;">
        <p class="ml-auto small text-dark mb-2"><a class="text-light" target="_blank" href="https://www.polytech.umontpellier.fr/"><em>© 2020 Polytech Montpellier</em></a><br /></p>
    </div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
