<div class="row mh-100vh">
    <div class="bg-main" id="recovery-block">
        <div class="m-5">
            <h1 class="blue-polytech">Récupération de votre mot de passe</h1><br>
            <hr><br>
            <form id="recovery-form">
              <label class="text-dark"><em>Entrez votre adresse mail : </em></label>
              <div class="form-group text-center"><input type="email" class="form-control" id="recovery-email" aria-describedby="emailHelp" placeholder="example@umontpellier.fr"><br>
              <button class="btn btn-primary text-white" id="recovery-form-submit" type="submit" onclick="window.location.href='#'">Envoyer une demande</button></div></form>
              <br>
              <hr>
              </div>
        </div>
    <div>
</div>
</div>