<div class="blue-polytech bg-main" id="event1-block">
  <div><br><br>
    <h1>Réserver un créneau</h1>
    <br>
    <h2><%=req.params.event_id%><br><br>
  </div>
  <div id="calendar_user" class="fc ml-3 mr-3 mb-3">
  </div>
</div>
  <div class="blue-polytech bg-main" id="event1-block">
    <button onclick="print()" class="btn btn-primary m-3 w-25" > Exporter en PDF</button>
  </div>
<br><br>