<div class="blue-polytech bg-main" id="event1-block">
  <div><br><br>
    <h1>Réserver un créneau</h1>
    <br><br><br>
  </div>
  <div id='calendar_user' class="fc ml-3 mr-3 mb-3">
  </div>
</div>
  <div class="blue-polytech bg-main" id="event1-block">
    <input type="button" onclick="printDiv('calendar_user')" class="btn btn-primary m-3 w-25" id="edit-export-calendar-submit" value="Exporter en pdf" Exporter en PDF>
  </div>
<br><br>
<script>
  var event_id = "<%= req.params.event_id %>"
</script>