<link rel="icon" href ="icon/logoig.png">
    <div>
      <br>
      <br>
    <button onclick="window.location.href='/login'">Accéder login</button>
    <br>
    <button onclick="window.location.href='/event'">Accéder manage</button>
    <br>
    <button onclick="window.location.href='/event/0/edit'">Accéder edit</button>
    <br>
    <button onclick="window.location.href='/event/0/register'">Accéder reserve</button>
    </br>
    <button onclick="window.location.href='/recovery'">Accéder récupération mdp</button>
    <br>
    <button onclick="window.location.href='/user'">Accéder à Mon compte</button>
    </div>