<div class="blue-polytech">
      <br>
      <br>
    <button onclick="window.location.href='/login'">Accéder à la connexion</button>
    <br>
    <button onclick="window.location.href='/event'">Accéder à la gestion des évènements</button>
    <br>
    <button onclick="window.location.href='/event/0/edit'">Accéder à la modification</button>
    <br>
    <button onclick="window.location.href='/event/0/register'">Accéder à la réservation</button>
    </br>
    <button onclick="window.location.href='/recovery'">Accéder à la récupération mdp</button>
    <br>
    <button onclick="window.location.href='/profile'">Accéder à Mon compte</button>
    <br>
    <button onclick="window.location.href='/users'">Accéder à la gestion des utilisateurs</button>
</div>