<div id="event1-block" class="bg-main">
  <div class="row">
    <div class="col m-3">
      <h2 class="text-center text-primary pt-3 pb-3">Liste des utilisateurs</h2>
      <table class="table table-striped" id="users-list">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Promotion</th>
            <th scope="col">Groupe</th>
            <th scope="col">Configurer</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br>

<div id="event1-block" class="bg-main">
  <div class="row">
    <div class="col m-3">
      <h2 class="text-center text-primary pt-3 pb-3">Liste des groupes</h2>
      <table class="table table-striped" id="groups-list">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du groupe</th>
            <th scope="col">Membres</th>
            <th scope="col">Evénement</th>
            <th scope="col">Configurer</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br>
